[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "localICE"]
	path = localICE
	url = https://github.com/viadee/localice
	shallow = true
	registered = true
